<div id='list' class='row'>
  <h2 id='player1' class='small-12 large-5 columns'> nameP1 </h2>
  <h2 class='small-12 large-2 columns'>vs.</h2>
  <h2 id='player2' class='small-12 large-5 columns'> nameP2 </h2>
</div>