<div id='board'>
  <section class="row-container">
    <ul>
      <li id='row0col0' class='square'>
      </li>
      <li id='row0col1' class='square'>
      </li>
      <li id='row0col2' class='square'>
      </li>
    </ul>    
  </section>  
  <section class="row-container">
    <ul id="row2">
      <li id='row1col0' class='square'>
      </li>
      <li id='row1col1' class='square'>
      </li>
      <li id='row1col2' class='square'>
      </li>
    </ul>  
  </section>  
  <section class="row-container">
    <ul>
      <li id='row2col0' class='square'>
      </li>
      <li id='row2col1' class='square'>
      </li>
      <li id='row2col2' class='square'>
      </li>
    </ul> 
  </section>
</div> 